html {
    height: 100%;
}

.body {
    position: absolute;
    left: 0%;
    top:0%;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100vw;
    padding: 0;
    margin: 0;
    grid-template-rows: 15vh 60vh 25vh;
    background-image: url(./Images/Pink\ Background.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.DisplayTextHolder {
    padding: 0;
    margin: 0;
    height: 15vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 100vw;
    background-color: transparent;

}

.DisplayText {
    width: 90%;
    justify-self: center;
    font-size: calc(4vh + 4vw);
    padding: 0;
    margin: 0;
    background-color: transparent;
    text-align: center;
}

.ChangingDiv {
    height: 60vh;
    font-size: calc(10vh + 10vw);
    line-height: 70vh;
    width: 50%;
    justify-self: center;
    background-color: transparent;
    text-align: center;
    overflow: hidden;
}

.ChangingDiv img {
    height: 100%;
    width: 100%;
}

.DisplayButtonHolder {
    height: 25vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 100vw;
    background-color: transparent;
}

.DisplayButtonHolder button {
    height: calc(4vh + 4vw);
    width: calc(15vh + 15vw);
    color: blue;
    background-color: rgba(0, 0, 255, 0.226);
    border: 2px solid blue;
    border-radius: calc(1vh + 1vw);
    justify-self: center;
    font-size:  calc(1.25vh + 1.25vw);
    font-weight: 800;
    cursor: pointer;
    margin-top: 2.5vh;
}